body {

    display:flex;
    justify-content:center;
    align-items: center;
   
}
h1{
   
}
th, td {
    border-bottom: 1px solid lightblue;
}
tr:hover {
    background-color: lavender;
}
input[type=text] {
    width: 100%;
    padding: 15px 15px;
    margin: 10px 10;
    border:none;
}
input[type=email] {
    width: 100%;
    padding: 15px 15px;
    margin: 10px 10;
    border: none;
}
input[type=tel] {
    width: 100%;
    padding: 15px 15px;
    margin: 10px 10;
    ;
    border: none;
}
input[type=date] {
    width: 40%;
    padding: 15px 15px;
    margin: 10px 10;
    border: none;
}
input[type=file] {
    width: 40%;
    padding: 15px 15px;
    margin: 10px 10;
    border: none;
}